body{
    background-color: black;
}
.logo{
    width: 70px;
}
.header{
    background: rgb(0,0,0);
background: linear-gradient(101deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(0,0,0,1) 18%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 42%, rgba(79,16,16,1) 63%, rgba(84,21,21,1) 76%, rgba(139,20,20,1) 90%);
}
.logofooter{
    width: 70px;
}
.iconosredes{
    width: 30px;
    display:flex;
    margin-inline-end: 30px;
    

}
h1{
    text-decoration: solid;
    color: white;
    margin-left:420px;
}

.card-body{
background: linear-gradient(101deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(0,0,0,1) 18%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 42%, rgba(79,16,16,1) 63%, rgba(84,21,21,1) 76%, rgba(139,20,20,1) 90%);
color: white;   

}

.container{
    display: flex;
    justify-content: center;
    
}

.textofooter{
    color: white;  
    margin:20px;
    font-size: 16px;    
}   
.footer{
    margin-top: 50px;
}

.carrusel{
    width: 50%;
    display: flex;
    margin-left: 25%;
    margin-top: 10px;
}

.nav-link{
    color:rgb(233, 38, 13) 
}
