body{
    margin:0%;
    padding:0%;
    background-color: map-get($estilos, color-background);
    background-image: url("../Imagenes/fondopagina2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 