.mainContactos {
    display: flex;
    justify-content: center;
}

.tituloContacto{
    margin-top: 40px;
    text-align: center;
    color:map-get($estilos, letras)
}

.textoContacto{
    margin-top: 40px;
    text-align: center;
    color:map-get($estilos, letras)
    
}
.form{
    color:aliceblue
}