.logofooter{
    width: 70px;
}
.iconosredes{
    width: 30px;
    display:flex;
    margin-inline-end: 20px;
    margin-top:20px;
}
.textofooter{
    color: white;  
    font-size: 16px;  
}   

.footer{  
   
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
.text-white{
    font-size: 10px;
    margin:20px
}  
