
.iconosredes{
    width: 35px;
    height: 35px;
    display:flex;
    margin-inline-end: 20px;
    margin-top:20px;
}
.textofooter{
    color: white;  
    font-size: 25px;  
}   

.footer{  
   
   left: 0;
   color: white;
   text-align: center;
   width: 100%;
  padding: 20px;
}
.text-white{
    font-size: 12px;
    margin:20px
}  
