.main-gridfv{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 15PX;
    gap: 10px;
   
}
.galeria__imagen{
    @include sizes(450px,250px) 
    
}

.main-gridfv {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    }

@media  (max-width:768px) {
    .main-gridfv {
        display:grid;
        grid-template-columns: 1fr;
}
.galeria__imagen{
    @include sizes(300px,180px)
}
}